<div id="container-instructions" align="center">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well" align="center">

        <p>
            You will receive a monetary bonus for completing this task. </br>
            This will be on top of your compensation for completing the HIT.</br></br>

            The amount of the bonus will depend on events that occur in the task.</br>
            We will describe this in more detail once you start the task.</br></br>

            The monetary bonus can be up to twice the amount of your compensation for completing the HIT.</br>
            The final bonus will be automatically added to your payment when you finish.</br></br>
          
            Please click the button below to begin the task.</br>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin the task! <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
